.wrapper {
    padding-top: 2%;
    width: 50%;
    margin: auto;
  
    .form-container {
      display: flex;
      flex-direction: column;
      padding-bottom: 5px;
    }
}

button:disabled {
    background-color: rgb(134, 134, 134) !important;
}