<div class="wrapper">
    <h2 mat-dialog-title>Реєстрація нового користувача</h2>
    <form class="form-container"
          [formGroup]="userForm">
      <mat-error style="margin-bottom: 5px;">{{ errorMessage }}</mat-error>
  
      <mat-form-field>
        <mat-label>Логін</mat-label>
        <input matInput
               formControlName="userName">
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Пароль</mat-label>
        <input matInput
               type="password"
               formControlName="password">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Повторити пароль</mat-label>
        <input matInput
               type="password"
               formControlName="repeatPassword">
      </mat-form-field>

      <mat-error *ngIf="userForm.errors?.notSame">Паролі не збігаються</mat-error>
      <button mat-button type="submit" [disabled]="userForm.invalid" (click)="register()">Зареєструватися</button>
    </form>
  </div>
  